#include <windows.h>
#include "resource.h"

IDD_ACCOUNT DIALOG 0, 0, 230, 100
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Account"
BEGIN
    LTEXT "&Handle:", IDC_STATIC, 6, 8, 40, 10
    EDITTEXT IDC_HANDLE, 50, 6, 104, 13, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT "&Password:", IDC_STATIC, 6, 26, 40, 10
    EDITTEXT IDC_PASSWORD, 50, 24, 104, 13, ES_AUTOHSCROLL | ES_PASSWORD | WS_TABSTOP
    LTEXT "&Server:", IDC_STATIC, 6, 44, 40, 10
    COMBOBOX IDC_SERVER, 50, 42, 104, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX "Show &pictures", IDC_PICTURES, 50, 62, 100, 10, WS_TABSTOP
    AUTORADIOBUTTON "&Manually", IDC_MANUAL, 168, 14, 52, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ho&urly", IDC_HOURLY, 168, 28, 52, 10
    AUTORADIOBUTTON "&Daily", IDC_DAILY, 168, 42, 52, 10
    GROUPBOX "Refresh", IDC_STATIC, 162, 2, 62, 58, WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 122, 80, 48, 14, WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 176, 80, 48, 14, WS_TABSTOP
END
